NEXT_PUBLIC_SUPABASE_URL=http://127.0.0.1:54321
NEXT_PUBLIC_SUPABASE_ANON_KEY=your-anon-key-here

# Resend (email notifications)
RESEND_API_KEY=re_your_api_key_here
# EMAIL_FROM=no-wms <noreply@no-wms.com>

# Sentry
NEXT_PUBLIC_SENTRY_DSN=your-sentry-dsn-here
SENTRY_DSN=your-sentry-dsn-here
SENTRY_ORG=sizelabs-5g
SENTRY_PROJECT=javascript-nextjs
SENTRY_AUTH_TOKEN=your-sentry-auth-token
